.App {
  text-align: center;
  background-color: rgb(255, 222, 222);
  min-height: 100vh;
  width: 100vw;
}
.Bg001 {
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}
.Logo001{
  margin-top: 15px;
  height: 25px;
}
.Title001{
  color: rgb(233, 66, 24);
  font-size: 20px;
  font-weight: 600;
  margin-top: 17px;
  margin-left: 10px;
}
.Header001{
  display: flex;
  margin-left: 30px;
}
.Ranking{
  margin-top: 50px;
  display: flex;
  justify-content:space-evenly;
}
.Ranking_buttons{
  border-radius: 25px;
  text-align: left;
  padding-left: 20px;
  padding-right: 40px;
  background-color: rgb(255, 222, 222);
  border-color: rgb(255, 222, 222);
  color: rgb(233, 66, 24)
}
.Ranking_buttons:hover{
  background-color: rgb(233, 66, 24);
  border-color: rgb(233, 66, 24);
  color: rgb(255, 222, 222);
}
.Ranking_buttons:focus{
  background-color: rgb(233, 66, 24) !important;
  border-color: rgb(233, 66, 24) !important;
  color: rgb(255, 222, 222) !important;
}
.Details{
  width: 1000px;
  height: 750px;
  background-color: rgb(255, 222, 222);
  border-radius: 25px;
}
.Details_title{
  position: relative;
  top: 25px;
  left: 35px;
  text-align: left;
  color: rgb(233, 66, 24);
  font-weight: 575;
}
.Details_title:hover{
  text-decoration: underline;
  cursor: pointer;
}
.Details_basic{
  color: rgb(233, 66, 24);
  position: relative;
  display: flex;
  max-width: 930px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  top: 50px;
  left: 35px
}
.Utube_vdo{
  border-radius: 10px;
  width: 400px;
  height: 280px;
}
.Line_chart{
  width: 500px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  padding: 20px;
}
.Fillups{
  display: flex;
  justify-content: space-evenly;
  margin-top: 8vh !important;
}
.Dd_btn{
  background-color: rgb(255, 222, 222);
  border-color: rgb(255, 222, 222);
  width: 250px;
  color: rgb(233, 66, 24);
}
.Dd_btn:hover{
  background-color: rgb(233, 66, 24);
  border-color: rgb(233, 66, 24);
  color: rgb(255, 222, 222);
}
.Dd_btn:focus{
  background-color: rgb(233, 66, 24) !important;
  border-color: rgb(233, 66, 24) !important;
  color: rgb(255, 222, 222) !important;
}
.Dd_options{
  color: rgb(233, 66, 24);
}
.Dd_options:hover{
  background-color: rgb(233, 66, 24);
  color: rgb(255, 222, 222);
}
.Info_tag{
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  width: 300px;
  height: 130px;
  text-align: center;
  margin-bottom: 20px;
}
.Footer{
  bottom: 0px;
  width: 100%;
  position: static;
  background-color: white;
  justify-content: space-between;
  display: flex;
}
.Register{
  margin-left: 100px;
  font-style: italic;
  color: rgb(233, 66, 24);
  cursor: pointer;
}
.Register:hover{
  text-decoration: underline;
}
.Queries{
  color: rgb(233, 66, 24);
  font-style: italic;
  cursor: none;
  margin-right: 100px;
}